.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img {
  width: 100%;
  margin-bottom: 20px;
}
.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
  font-size: 20px;
}
.img-text-wrapper:hover .subtitle {
  color: #ffff;
}
.img-darken {
  transition: 1;
  filter: blur(10%);
}
